@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;900&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.js';

@theme {
  --color-tViolet: #6d3979;
  --color-tGreen: #75ab4f;
}

@layer base {
  html {
    font-family: 'Nunito Sans', sans-serif;
    @apply text-white;
  }
}

@layer components {
  .nav-link {
    @apply text-white text-4xl font-semibold block w-full py-2 ;
  }

  .keyboard-btn {
    @apply flex place-items-center place-content-center w-11 h-11 m-1 bg-white text-gray-600 rounded font-semibold shadow-lg;
  }

  .action-description {
    @apply flex place-content-center font-black text-xl mt-2;
  }

  .cta {
    @apply bg-tGreen font-semibold text-2xl px-10 py-3 tracking-wider rounded;
  }

  .text-input {
    @apply w-80 text-black p-4 my-4 rounded-lg;
  }
}

div.firebase-emulator-warning {
  display: none;
}
